
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Blog</h1>
        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active">Blog</li>
        </ol>
    </div>
</header>
<div class="container">
    <section>
        <h2 class="section-title">Featured item</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w7.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-success pull-right">See more »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w8.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-info pull-right">See more »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w9.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-warning pull-right">See more »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w7.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-success pull-right">See more »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w8.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-info pull-right">See more »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w9.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-warning pull-right">See more »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w7.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-success pull-right">See more »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w8.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-info pull-right">See more »</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">Work Title</div>
                    <img src="~/Content/img/w9.jpg" class="img-responsive" alt="Image">
                    <div class="panel-body">
                        <h4 class="post-title">Natus impedit officia veritatis</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, reprehenderit mollitia quos repellendus vel excepturi eaque sunt inventore atque quas aliquam eum fugiat placeat error similique ipsa ad. Possimus, maxime.</p>
                        <a href="~/Home/DetailBlog" class="btn btn-warning pull-right">See more »</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </section>
</div> <!-- container  -->
