
@{
    ViewBag.Title = "categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-4">
                    <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                        <div class="item-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="item-content">
                            <h3>Lorem ipsum mollit</h3>
                            <p>Lorem ipsum Labore adipisicing nisi </p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
                        </div>
                    </article> <!-- mind-features-item -->
                </div>
                <div class="col-sm-4">
                    <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                        <div class="item-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="item-content">
                            <h3>Lorem ipsum mollit</h3>
                            <p>Lorem ipsum Labore adipisicing nisi </p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
                        </div>
                    </article> <!-- mind-features-item -->
                </div>
                <div class="col-sm-4">
                    <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                        <div class="item-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="item-content">
                            <h3>Lorem ipsum mollit</h3>
                            <p>Lorem ipsum Labore adipisicing nisi </p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
                        </div>
                    </article> <!-- mind-features-item -->
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-3">
                    <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                        <div class="item-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="item-content">
                            <h3>Lorem ipsum mollit</h3>
                            <p>Lorem ipsum Labore adipisicing nisi </p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
                        </div>
                    </article> <!-- mind-features-item -->
                </div>
                <div class="col-sm-3">
                    <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                        <div class="item-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="item-content">
                            <h3>Lorem ipsum mollit</h3>
                            <p>Lorem ipsum Labore adipisicing nisi </p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
                        </div>
                    </article> <!-- mind-features-item -->
                </div>
                <div class="col-sm-3">
                    <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                        <div class="item-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="item-content">
                            <h3>Lorem ipsum mollit</h3>
                            <p>Lorem ipsum Labore adipisicing nisi </p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
                        </div>
                    </article> <!-- mind-features-item -->
                </div>
                <div class="col-sm-3">
                    <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                        <div class="item-icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="item-content">
                            <h3>Lorem ipsum mollit</h3>
                            <p>Lorem ipsum Labore adipisicing nisi </p>
                            <a href="#" class="btn btn-success pull-right">Read more</a>
                        </div>
                    </article> <!-- mind-features-item -->
                </div>
            </div>
        </div>
    </div>
</div>