
@{
    ViewBag.Title = "categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">Categories</h1>
        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active">Categories</li>
        </ol>
    </div>
</header>

<div class="container" id="categories-list">
    <div class="row">
        <div class="col-md-1">
            <div class="img-caption animated animation-delay-1 bounceInLeft">
                <img src="~/Content/img/img-food.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#food-resturants" class="animated fadeInDown" data-toggle="tab">Food & Restaurants</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-1">
            <div class="img-caption animated animation-delay-2 bounceInLeft">
                <img src="~/Content/img/img-education.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#educational-institutes" class="animated fadeInDown" data-toggle="tab">Educational Institutes</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-1">
            <div class="img-caption animated animation-delay-3 bounceInLeft">
                <img src="~/Content/img/img-health.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#health-well-being" class="animated fadeInDown" data-toggle="tab">Health & Well-being</a>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-md-1">
            <div class="img-caption animated animation-delay-4 bounceInLeft">
                <img src="~/Content/img/img-electronics.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#electronics" class="animated fadeInDown" data-toggle="tab">Electronics</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-1">
            <div class="img-caption animated animation-delay-5 bounceInLeft">
                <img src="~/Content/img/img-real-estates.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown">Real Estates</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-1">
            <div class="img-caption animated animation-delay-6 bounceInLeft">
                <img src="~/Content/img/img-travel.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown">Travels & Tours</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-1">
            <div class="img-caption animated animation-delay-7 bounceInLeft">
                <img src="~/Content/img/img-fashion.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown">Clothes & Fashion</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-1">
            <div class="img-caption animated animation-delay-8 bounceInLeft">
                <img src="~/Content/img/img-automobiles.png" class="img-responsive" alt="Image">
                <div class="caption">
                    <div class="caption-content">
                        <a href="#" class="animated fadeInDown">Automobiles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="tab-content">
        <div class="tab-pane active animated fadeInDown" id="food-resturants">
            <article class="component-element">
                <h2 class="underline-title no-margin-top">Food & Restaurants</h2>
                <div class="row">
                    <div class="col-md-3">
                        <nav id="sidebar-menu">
                            <ul class="nav nav-pills nav-stacked affix menu animated fadeIn" data-spy="affix" data-offset-top="300">
                                <li><a href="#restaurants" class="smooth">Restaurants</a></li>
                                <li><a href="#fast-food" class="smooth">Fast Food</a></li>
                                <li><a href="#desi-khaba" class="smooth">Desi Khaba</a></li>
                                <li><a href="#cafeteria" class="smooth">Cafeteria</a></li>
                                <li><a href="#fish-courts" class="smooth">Fish Courts</a></li>
                                <li><a href="#icecream" class="smooth">Ice Cream</a></li>
                            </ul>
                        </nav>
                    </div> <!-- col -->
                    <div class="col-md-9">
                        <section id="components">
                            <article class="component-element" id="restaurants">
                                <h2 class="underline-title no-margin-top">Restaurants</h2>
                                Italian, French, Chinese, Simple
                            </article>
                            <article class="component-element" id="fast-food">
                                <h2 class="underline-title no-margin-top">Fast Food</h2>
                                Burger, Pizza, Steaks
                            </article>
                        </section>
                    </div> <!-- col -->
                </div>
            </article>
        </div>

        <div class="tab-pane animated fadeInDown" id="educational-institutes">
            <article class="component-element">
                <h2 class="underline-title no-margin-top">Educational Institutes</h2>
                <div class="row">
                    <div class="col-md-3">
                        <nav id="sidebar-menu">
                            <ul class="nav nav-pills nav-stacked affix menu animated fadeIn" data-spy="affix" data-offset-top="500">
                                <li><a href="#pre-schools" class="smooth">Pre-Schools</a></li>
                                <li><a href="#schools" class="smooth">Schools</a></li>
                                <li><a href="#dance-schools" class="smooth">Dance Schools</a></li>
                                <li><a href="#driving-schools" class="smooth">Driving Schools</a></li>
                                <li><a href="#religious-schools" class="smooth">Religious Schools</a></li>
                                <li><a href="#colleges" class="smooth">Colleges</a></li>
                                <li><a href="#universities" class="smooth">Universities</a></li>
                                <li><a href="#test-preparation" class="smooth">Technical Colleges</a></li>
                                <li><a href="#special-education" class="smooth">Special Education</a></li>
                                <li><a href="#fountain-houses" class="smooth">Fountain Houses</a></li>
                                <li><a href="#academies" class="smooth">Academies</a></li>
                            </ul>
                        </nav>
                    </div> <!-- col -->
                    <div class="col-md-9">
                        <section id="components">
                            <article class="component-element" id="pre-schools">
                                <h2 class="underline-title no-margin-top">Pre-Schools</h2>
                                Italian, French, Chinese, Simple
                            </article>
                        </section>
                    </div> <!-- col -->
                </div>
            </article>
        </div>

        <div class="tab-pane animated fadeInDown" id="health-well-being">
            <article class="component-element">
                <h2 class="underline-title no-margin-top">Health & Well-being</h2>
                <div class="row">
                    <div class="col-md-3">
                        <nav id="sidebar-menu">
                            <ul class="nav nav-pills nav-stacked affix menu animated fadeIn" data-spy="affix" data-offset-top="300">
                                <li><a href="#doctors" class="smooth">Doctors</a></li>
                                <li><a href="#government-hospitals" class="smooth">Government Hospitals</a></li>
                                <li><a href="#private-hospitals" class="smooth">Private Hospitals</a></li>
                                <li><a href="#laboratories" class="smooth">Laboratories</a></li>
                                <li><a href="#pharmacies" class="smooth">Pharmacies</a></li>
                                <li><a href="#NGOs" class="smooth">NGO’s</a></li>
                            </ul>
                        </nav>
                    </div> <!-- col -->
                    <div class="col-md-9">
                        <section id="components">
                            <article class="component-element" id="doctors">
                                <h2 class="underline-title no-margin-top">Doctors</h2>
                                Cardiologists, Ear Nose & Throat, Hepatologists, Neurologist, Oncologists, Orthopedists, Psychiatrists, Surgeons, Urologists, Eye, Hair Transplant, Dentist, Nutritionists
                            </article>
                        </section>
                    </div> <!-- col -->
                </div>
            </article>
        </div>

        <div class="tab-pane animated fadeInDown" id="electronics">
            <article class="component-element">
                <h2 class="underline-title no-margin-top">Electronics</h2>
                <div class="row">
                    <div class="col-md-3">
                        <nav id="sidebar-menu">
                            <ul class="nav nav-pills nav-stacked affix menu animated fadeIn" data-spy="affix" data-offset-top="1500">
                                <li><a href="#mobile-phones" class="smooth">Mobile Phones</a></li>
                                <li><a href="#power-banks" class="smooth">Power Banks</a></li>
                                <li><a href="#ipads-tablets" class="smooth">Ipads & Tablets</a></li>
                                <li><a href="#cameras" class="smooth">Cameras</a></li>
                                <li><a href="#video-cameras" class="smooth">Video Cameras</a></li>
                                <li><a href="#laptops" class="smooth">Laptops</a></li>
                                <li><a href="#desktop-computers" class="smooth">Desktop Computers</a></li>
                                <li><a href="#printers" class="smooth">Printers</a></li>
                                <li><a href="#led-monitors" class="smooth">LED Monitors</a></li>
                                <li><a href="#gaming" class="smooth">Gaming</a></li>
                                <li><a href="#scanners" class="smooth">Scanners</a></li>
                                <li><a href="#ups" class="smooth">UPS</a></li>
                                <li><a href="#multimedia-projectors" class="smooth">Multimedia Projectors</a></li>
                                <li><a href="#computer-accessories" class="smooth">Computer Accessories</a></li>
                                <li><a href="#home-electrical" class="smooth">Home Electrical</a></li>
                                <li><a href="#air-conditioning" class="smooth">Air Conditioning</a></li>
                                <li><a href="#washing-machines" class="smooth">Washing Machines</a></li>
                                <li><a href="#microwave-oven" class="smooth">Microwave Oven</a></li>
                                <li><a href="#refrigerator" class="smooth">Refrigerator</a></li>
                                <li><a href="#deep-freezer" class="smooth">Deep Freezer</a></li>
                                <li><a href="#televisions" class="smooth">Televisions</a></li>
                                <li><a href="#water-dispensers" class="smooth">Water Dispensers</a></li>
                                <li><a href="#power-backup" class="smooth">Power Backup</a></li>
                                <li><a href="#generators" class="smooth">Generators</a></li>
                                <li><a href="#inverters" class="smooth">Inverters</a></li>
                                <li><a href="#batteries" class="smooth">Batteries</a></li>
                                <li><a href="#water-purifiers" class="smooth">Water Purifiers</a></li>
                            </ul>
                        </nav>
                    </div> <!-- col -->
                    <div class="col-md-9">
                        <section id="components">
                            <article class="component-element" id="mobile-phones">
                                <h2 class="underline-title no-margin-top">Mobile Phones</h2>
                                Samsung, Apple iPhones, Huawei, HTC, OnePlus, LG, BlackBerry, Motorola, Sony, Lenovo, Infinix, Xiaomi, Oppo, QMobiles, 
                                Microsoft, Nokia, Asus, Haier, Rivo, Mobile-Accessories
                            </article>
                            <article class="component-element" id="power-banks">
                                <h2 class="underline-title no-margin-top">Power Banks</h2>
                                Pineng,  Romoss, Samsung, Xiaomi, Dany, Proda, Sony Ericsson
                            </article>
                            <article class="component-element" id="ipads-tablets">
                                <h2 class="underline-title no-margin-top">Ipads & Tablets</h2>
                                Samsung, Huawei, Apple iPads, Dell, Toshiba, Acer, Microsoft, Lenovo, Asus, HP, Dany, Intel, Mercury, Sony, 
                                BlackBerry, HTC, Ainol, QTab, LG
                            </article>
                            <article class="component-element" id="camera">
                                <h2 class="underline-title no-margin-top">Camera</h2>
                                Digital and DSLR, Nikon DSLR, Canon DSLR, Nikon Digital, Canon Digital, Nikon Accessories, Canon Accessories, 
                                Sigma Lenses, Sony, Panasonic, Olympus, Samsung, Fujifilm, Nikon, Canon, Video Cameras, Sony, Panasonic, Panasonic Accessories, 
                                Sony Accessories, GoPro, Canon
                            </article>
                            <article class="component-element" id="laptops">
                                <h2 class="underline-title no-margin-top">Laptops</h2>
                                Apple, Dell, HP, Lenovo, Samsung, Acer, Asus, Toshiba, Razer, Sony, Fujitsu
                            </article>
                            <article class="component-element" id="deskto-computers">
                                <h2 class="underline-title no-margin-top">Desktop Computers</h2>
                                Apple Desktop, Dell Desktop, HP Desktop
                            </article>
                            <article class="component-element" id="printers">
                                <h2 class="underline-title no-margin-top">Printers</h2>
                                Samsung, Canon Printers, HP Printers
                            </article>
                            <article class="component-element" id="led-monitors">
                                <h2 class="underline-title no-margin-top">LED Monitors</h2>
                                Samsung, Dell, Asus, HP, Viewsonic, AOC, Acer, Apple
                            </article>
                            <article class="component-element" id="gaming">
                                <h2 class="underline-title no-margin-top">Gaming</h2>
                                Consoles, Accessories, Video Games
                            </article>
                            <article class="component-element" id="scanners">
                                <h2 class="underline-title no-margin-top">Scanners</h2>
                                HP, Canon, IRIS, Mustek, Genius
                            </article>
                            <article class="component-element" id="ups">
                                <h2 class="underline-title no-margin-top">UPS</h2>
                                Emerson, Santak, Crown, APC
                            </article>
                            <article class="component-element" id="multimedia-projectors">
                                <h2 class="underline-title no-margin-top">Multimedia Projectors</h2>
                                Sony, Hitachi, Viewsonic, Dell, Vivitek, Proxima, EPSON, NEC, Acer, Panasonic, InFocus, BenQ, Accessories
                            </article>
                            <article class="component-element" id="computer-accessories">
                                <h2 class="underline-title no-margin-top">Computer Accessories</h2>
                                Speakers, Creative, Genius, A4Tech, Audionic, Edifier, Logitech, Razer, Keyboards, A4tech, Logitech, Gigabyte, 
                                Genius, Corsair, Focus, Asus, Dell, Mouse, A4Tech, Logitech, Gigabyte, Asus, Razer, Targus, Microsoft, Corsair, 
                                Steelseries, Verbatim, WebCam, A4Tech, Creative, Genius, Logitech, Graphics Tablets, GamePads, Headphones | Microphones, 
                                TV Tuners, Computer Peripherals
                            </article>
                            <article class="component-element" id="air-conditioning">
                                <h2 class="underline-title no-margin-top">Air Conditioning</h2>
                                Dawlance, Haier, Orient, Acson, Mitsubishi, Gree, LG, Samsung, PEL, Sharp, Kenwood, Panasonic, Changhong Ruba, Singer
                            </article>
                            <article class="component-element" id="washing-machines">
                                <h2 class="underline-title no-margin-top">Washing Machines</h2>
                                Dawlance, Haier, Kenwood, LG, Samsung, Toshiba, Hitachi, Super Asia
                            </article>
                            <article class="component-element" id="microwave-oven">
                                <h2 class="underline-title no-margin-top">Microwave Oven</h2>
                                Dawlance, Haier, Orient, Homage, Samsung, LG, Anex, Waves, PEL, Panasonic, Electrolux
                            </article>
                            <article class="component-element" id="refrigerator">
                                <h2 class="underline-title no-margin-top">Refrigerator</h2>
                                Dawlance, Orient, PEL, Waves, Haier, Sharp, Samsung, LG, Changhong Ruba, Electrolux, Panatron, Hitachi, Kenwood, 
                                CDA, Geepas, Gaba National
                            </article>
                            <article class="component-element" id="deep-freezer">
                                <h2 class="underline-title no-margin-top">Deep Freezer</h2>
                                Dawlance, Haier, Orient, Changhong Ruba, Waves, Kenwood
                            </article>
                            <article class="component-element" id="television">
                                <h2 class="underline-title no-margin-top">Television</h2>
                                Samsung, Sony TV, LG TV, EcoStar, Haier, Orient, TCL, Changhong Ruba, Sharp, Orange TV
                            </article>
                            <article class="component-element" id="water-dispensers">
                                <h2 class="underline-title no-margin-top">Water Dispensers</h2>
                                Homage, Changhong Ruba, Orient, Enviro, Electrolux, EcoStar, Gaba National, Elite, Jackpot, Magic, Anex, Gree
                            </article>
                            <article class="component-element" id="generators">
                                <h2 class="underline-title no-margin-top">Generators</h2>
                                Jasco, Honda, Yamaha, Elemax, Homage, EuroPower, Inverters
                            </article>
                            <article class="component-element" id="inverters">
                                <h2 class="underline-title no-margin-top">Inverters</h2>
                                CyberPower, Homage, EcoStar, Prolink, Deutsche Power, Panatron, Apollo, NRE, Axpert, Infini, Solar Inverters, Solar panels
                            </article>
                            <article class="component-element" id="batteries">
                                <h2 class="underline-title no-margin-top">Batteries</h2>
                                AGS, Exide, Osaka, Phoenix, FB, Heavy Generators, Water Pumps, Yamaha, Jasco, Honda, Loncin, Voltage Stabilizers
                            </article>
                        </section>
                    </div> <!-- col -->
                </div>
            </article>
        </div>

    </div>
</div>