@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="wrap-title">
    <div class="container">
        <h1 class="page-title">FAQ's</h1>
        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active">FAQ's</li>
        </ol>
    </div>
</header>

<div class="boxed animated fadeIn animation-delay-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="section-title">List of Questions</h2>
                    <div class="panel-group" id="accordion1">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                        1. People will write reviews to nail down their competitors.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Competitors will write negative or fake reviews which will crash your business but<br>
                                    What about the impact of those customers who are unsatisfied and you don’t know why!<br>
                                    What about the impact of those customers who are happy and want to tell all others!<br>
                                    All it takes is a little nudge toward right direction.<br><br>

                                    Other than that what real data analysis shows,<br>
                                    <ul>
                                        <li>75% of reviews posted online are positive.</li>
                                        <li>95% of unhappy customers will return if an issue is resolved quickly and efficiently and if you don’t, they will think you don’t care for them.</li>
                                    </ul>
                                    <a href="http://www.socialmediatoday.com/content/why-online-reviews-matter"><h5><b>http://www.socialmediatoday.com/content/why-online-reviews-matter</b></h5></a>

                                    <h5><b>Note:</b></h5>   We can divide our reviews into customers, visitors and Suggestions.<br><br>
                                    Customers’ reviews will be more authentic which will be obtained through email with links every time you make a shopping.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                        2. To get 5 star rating will be an extra effort for my team to maintain business reputation.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Getting good ranking is easier than you might think.<br>
                                    <ul>
                                        <li>In 2013 Local Consumer Review Survey, over 75% businesses get 5 Star rating (Trustpilot Data Analysis).</li>
                                    </ul>
                                    <a href="https://www.trustpilot.com"><h5><b>https://www.trustpilot.com</b></h5></a>

                                    Next point will explain it as well that how you can get it easily.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                        3. No body read reviews.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <b>Maybe you don’t, but your customers do.</b><br>
                                    According to a new survey conducted by Dimensional Research,<br>
                                    <ul>
                                        <li>90 percent of respondents claimed that positive online reviews influence buying decisions</li>
                                        <li>86 percent said buying decisions were influenced by negative online reviews</li>
                                    </ul>
                                    <a href="http://marketingland.com/survey-customers-more-frustrated-by-how-long-it-takes-to-resolve-a-customer-service-issue-than-the-resolution-38756"><h5><b>http://marketingland.com/survey-customers-more-frustrated-by-how-long-it-takes-to-resolve-a-customer-service-issue-than-the-resolution-38756</b></h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                                        4. No body believe in reviews.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    It may be true in case when a brand website shows its anonymous and unverifiable reviews. But, the reviews posted by independent, open and third party companies are an influencing factor on shoppers.<br>
                                    <ul>
                                        <li>78% of people says that a company’s social media posts impact their purchase decision.</li>
                                    </ul>
                                    <a href="http://smallbiztrends.com/2014/10/influence-consumer-purchase-decisions.html"><h5><b>http://smallbiztrends.com/2014/10/influence-consumer-purchase-decisions.html</b></h5></a>
                                    
                                    According to Harvard Business Reviews<br />
                                    <ul>
                                        <li>Good reviews, as expected, increased sales across the board, with gains from 32% to 52%.</li>
                                        <li>Negative reviews caused a drop of about 15%, on average—also not surprising.</li>
                                        <li>Bad reviews caused sales to rise, by an average of 45%. This held even when the criticism was extreme</li>
                                    </ul>
                                    <a href="https://hbr.org/2012/03/bad-reviews-can-boost-sales-heres-why"><h5><b>https://hbr.org/2012/03/bad-reviews-can-boost-sales-heres-why</b></h5></a>

                                    According to a Microsoft business blog<br>
                                    <ul>
                                        <li>A whole page of positive reviews doesn’t necessarily engender more trust.</li>
                                        <li>68% of consumers trust reviews more when they see both good and bad scores</li>
                                        <li>30% suspect censorship or fakes reviews when they don’t see any negative opinions at all.</li>
                                    </ul>
                                    <a href="https://blogs.business.microsoft.com/en-gb/2016/05/03/unlocking-growth-potential-importance-online-reviews/"><h5><b>https://blogs.business.microsoft.com/en-gb/2016/05/03/unlocking-growth-potential-importance-online-reviews/</b></h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
                                        5. Traditional Marketing is fine, why we need Reviews.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nielsen’s recent Trust in Advertising report begs to differ. <b>A 2013 survey of more than 29,000 consumers, across 58 countries,</b> revealed that:<br>
                                    <ul>
                                        <li>An impressive 68% ‘completely or somewhat trust’ online reviews.</li>
                                    </ul>

                                    In comparison:
                                    <ul>
                                        <li>Only 48% trusted ‘ads served in search engine results’ and</li>
                                        <li>42% trusted online banner ads.</li>
                                    </ul>
                                    <a href="http://www.nielsen.com/us/en/insights/news/2013/under-the-influence-consumer-trust-in-advertising.html"><h5><b>http://www.nielsen.com/us/en/insights/news/2013/under-the-influence-consumer-trust-in-advertising.html</b></h5></a>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
                                        6. We don’t have time to ask for and reply to reviews.
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    It’s true that emailing your customers... waiting for a response... emailing them again... waiting for a response... organizing how the feedback is displayed or checking whether it’s been posted to a third-party site... can take some time and effort. Particularly if you have a sizeable customer base, and, naturally, a desire to generate as many positive reviews as you can get your hands on.<br><br>

                                    Feedbacks That Matter will make it easy to send customizable emails asking all recent customers for reviews. People enjoy sharing their feedback, and using a trusted, independent site will add credibility to this content - and, displayed on your checkout pages, <b>could increase conversions by as much as 58%</b>.
                                </div>
                            </div>
                        </div>
                    </div> <!-- panel-group -->
                </div> <!-- col-md-8 -->
                <div class="col-md-4">
                    <h2 class="section-title">More Questions?</h2>

                    <form role="form">
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="email" class="form-control" id="InputName" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email</label>
                            <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="InputText">Question</label>
                            <textarea id="InputText" class="form-control" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Send question</button>
                    </form>
                    <div class="contact-info">
                        <h3>Contacts</h3>
                        <address>
                            <strong>Clean Concept, Inc.</strong><br>
                            894 Folsom Ave, Suite 655<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <!-- Business Hours -->
                        <h3>Business Hours</h3>
                        <ul class="list-unstyled">
                            <li><strong>Monday-Friday:</strong> 9am to 7pm</li>
                            <li><strong>Saturday:</strong> 9am to 2pm</li>
                            <li><strong>Sunday:</strong> Closed</li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
</div>
<br />