@{
    ViewBag.Title = "Home";
}

<section>
    <div id="carousel-example-generic" class="carousel carousel-mind slide" data-ride="carousel" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig">The template that adapts to all projects</h1>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>Built with Bootstrap</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-html5"></i><span>HTML5 and CSS3</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-table"></i><span>Responsive Template</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="~/Content/img/ftm3.png" class="img-responsive animated bounceInUp" alt="Image" style="height: 350px;width: 700px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig">design your own template very easily</h1>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft"><i class="fa fa-eye"></i><span>More Than 15 Colors</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-th-large"></i><span>Customizable Components</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>Over 25 pages ready to use</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="~/Content/img/ftm2.png" class="img-responsive animated bounceInUp" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 col-sm-9">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                    <h1 class="animated fadeInDownBig">Wordpress version coming soon</h1>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>Shortcodes For All Components</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-files-o"></i><span>Page Templates Ready For Use</span></li>
                                        <li class="animated bounceInLeft"><i class="fa fa-upload"></i><span>Free update for HTML orders</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-3 hidden-xs carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="~/Content/img/ftm1.png" class="img-responsive animated bounceInUp" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>

<div class="container">
    <div class="col-xs-12">
        <h2 class="section-title">Review and discover great companies!</h2>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for brands..." style="height: 45px">
        <span class="input-group-btn">
            <a href="brand.html" class="btn btn-lg btn-primary" type="button"><i class="fa fa-search"></i></a>
        </span>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <section>
        <div class="col-xs-12">
            <h2 class="section-title">Recent Reviews</h2>
        </div>
        <h3 class="timeline-title"><span>2016</span></h3>
        <div class="row timeline">
            <div class="col-sm-6 timeline-left">
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><strong>Jhon Martin</strong> - 9 July</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Charlos - 27 September</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client2.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-13">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Franklin - 27 September</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client6.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 timeline-right">
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Edward - 15 January</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client4.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-7">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Finchi - 14 April</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client5.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-11">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Shaevrok - 15 January</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3 class="timeline-title"><span>2015</span></h3>
        <div class="row timeline">
            <div class="col-sm-6 timeline-left">
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-13">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Sam Ling</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-left animated bounceInLeft animation-delay-15">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Fickron</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client5.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 timeline-right">
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-13">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Billings</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client6.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="timeline-event timeline-event-right animated bounceInRight animation-delay-17">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Sceasor</div>
                        <div class="panel-body">
                            <ul class="comments-sidebar">
                                <li>
                                    <img src="Content/img/client2.jpg" class="img-responsive" alt="Image">
                                    <img src="Content/img/stars.png" style="height:20px" class="pull-left" /><br />
                                    <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                    <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>